.account {
	display: grid;
	grid-template-columns: 170px minmax(0, 1fr);
	gap: 32px;
}

.account-navigation {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 12px;
}

.account-content > h1 {
	text-align: left;
}

.profile-row {
	display: flex;
	align-items: center;
	gap: 24px;
	margin: 24px 0;
}

.avatar {
	border-radius: 50%;
	object-fit: cover;
}

.settings-form {
	display: grid;
	gap: 16px;
	max-width: 450px;
	padding: 24px 0;
	border-top: 1px solid var(--dav-color-outline-variant);
}

.settings-form dav-button {
	justify-self: start;
}

.crop-container {
	width: 300px;
	max-width: 100%;
	height: 300px;
}

.crop-container cropper-canvas {
	height: 300px;
}

@media (max-width: 850px) {
	.account {
		grid-template-columns: 1fr;
	}

	.account-navigation {
		flex-direction: row;
	}
}

@media (max-width: 700px) {
	.account {
		gap: 24px;
	}
}
